.footer-container {
  padding-top: 2rem;
  width: 100%;
  height: 500px;
  background-color: black;

  h2,
  p {
    color: white;
    text-align: center;
  }

  button {
    background-color: white;
    color: black;
    border-radius: 8px;
    font-weight: bold;
    padding: 10px 30px;
    margin-top: 25px;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  .footer-wrap {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
  }

  .get-in-touch-container {
    display: flex;
  }

  .email-container {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    padding-bottom: 20px;
  }

  .email {
    padding-top: 20px;
  }

  .email-container p {
    margin-bottom: 20px;
    margin-right: 5px;
  }

  .email-container a:hover {
    color: #fff;
    text-decoration: underline;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
  }

  .contact-icons {
    width: 200px;
    display: flex;
    justify-content: left;
  }

  .github-icon {
    margin-right: 10px;
  }

  .phone-container {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-bottom: 20px;
  }

  .phone-container p {
    margin-right: 5px;
  }

  .message-container {
    width: 400px;
    textarea:focus,
    input:focus {
      box-shadow: inset 0 -1px 0 #ddd;
    }
  }

  .form-label {
    color: white;
  }

  @media screen and (max-width: 800px) {
    .footer-wrap {
      display: flex;
      flex-direction: column;
      background-color: #000;

      .get-in-touch-container,
      .message-container {
        padding: 1rem 3rem;
      }
    }
  }
}
