.footer-container {
    width: 100%; 
    height: 500px; 
    background-color: black; 
    margin-top: 5rem; 

    h2, p {
        color: white;
        margin-bottom: 2rem;  
        padding-top: 2rem; 
        text-align: center; 
    }

    .footer-wrap {
        display: flex; 
        justify-content: space-around; 
    }

    .get-in-touch-container {
        display: flex;    
    }

    .contact {
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
    }

    .contact-icons {
        display: flex; 
        justify-content: space-between; 
    }

    .message-container {
        width: 400px; 
        textarea:focus, input:focus {
            box-shadow: inset 0 -1px 0 #ddd; 
        }
    }

    .form-label {
        color: white; 
    }
}