.navbar {
    height: 100px;
    background-color: black; 

    a {
        color: #fff !important; 
        z-index: 1;
    }

    hr {
        color: #fff !important;
    }

    .container {
        display: flex; 
    }
}
