.navbar {
  height: 10%;
  background-color: black;

  a {
    color: #fff !important;
    z-index: 1;
  }

  hr {
    color: #fff !important;
  }

  .container {
    display: flex;
  }

  .hamburger {
    color: white;
  }

  .navbar-nav li {
    color: #fff;
  }
}

@media screen and (max-width: 980px) {
  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
