.about-me-container {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;    
    
    .about-me-picture-container {
        width: 30%;
        margin-right: 20px; 
        display: flex; 
        justify-content: center;
    }
    
    .about-me-description-container {
        width: 70%;   
    }
    
    .about-me-picture {
        width: 100px; 
        border-radius: 50%; 
    }
}

